<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

    <hibernate-configuration>
        <session-factory>
            <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
            <property name="hibernate.connection.url">jdbc:mysql://localhost/ciclismo</property>
            <!--  Cambiar basededatos por nombre de la base de datos  -->
            <property name="hibernate.connection.username">root</property>
            <!--  Nombre de usuario de la base de datos  -->
            <property name="hibernate.connection.password">root</property>
            <!--  Contraseña de usuario de la base de datos  -->
            <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
            <property name="hibernate.show_sql">true</property>
            <!--  Se registran las clases que hay que mapear con cada tabla de la base de datos. Ejemplo:   -->
            <!--  <mapping class="com.example.Construcciones"/> -->
            <mapping class="org.iesabastos.dam.datos.MAAP.Ciclista"/>
            <mapping class="org.iesabastos.dam.datos.MAAP.Coche"/>
            <mapping class="org.iesabastos.dam.datos.MAAP.Equipo"/>
            <mapping class="org.iesabastos.dam.datos.MAAP.Etapa"/>
            <mapping class="org.iesabastos.dam.datos.MAAP.Gana"/>
            <mapping class="org.iesabastos.dam.datos.MAAP.Llevar"/>
            <mapping class="org.iesabastos.dam.datos.MAAP.Maillot"/>
            <mapping class="org.iesabastos.dam.datos.MAAP.Premio"/>
            <mapping class="org.iesabastos.dam.datos.MAAP.Puerto"/>
            <mapping class="org.iesabastos.dam.datos.MAAP.Representante"/>
            <!--  Fin registro de clases mapeadas  -->
        </session-factory>
    </hibernate-configuration>
